// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.home{
    background: color($colors, primary);
    color: color($colors, light);
    margin-top: 30px;
}

.toolbar-title {
    text-align: center;
}

.tabs-md .tab-button-icon {
    color: #ccc;
}

.temp{
    font-size: 98px;
    text-align: center;
    font-weight: normal;
}

.location, .icon, .desc{
    text-align: center;
}

.icon img{
    width: 100px;
}

.location{
    font-size: 40px;
}

.desc {
    font-size: 30px;
}